<ion-view view-title="Gast">
  <ion-content>
  	<ion-list>
  	  <div class="list card" ng-repeat="gast in gaeste">
  	  	<div class="item item-icon-left" >
  	  	  <i class="icon ion-person"></i>
    	  <b>Gast {{gast.id}}</b>
  		</div>
	  	<label class="item item-input">
	  	  <input type="text" placeholder="Name" ng-model="gast.name">
	    </label>
	    <button class="item button button-full button-light" color-picker="" color-mode="name" model-mode="name" ng-model="gast.farbe" modal-title="Farbe auswählen" color-box="{{gast.farbe}}" named-colors="customColors">
	      {{gast.farbe || &apos;Farbe auswählen&apos; }}
	    </button>
	    <div class="item tabs tabs-icon-left">
	      <a class="tab-item" ng-click="aktualisieren(gast)">
	        <i class="icon ion-paper-airplane"></i>
	        Aktualisieren
	      </a>
	    </div>
	  </div>
	</ion-list>
  </ion-content>
</ion-view>
